@media (min-width: 1200px) and (max-width: 1600px) {}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 320px) and (max-width: 991px) {

    .con-content-w>.flex_basis {
        flex-basis: auto;
    }

    .p-35 {
        padding: 20px;
    }
    /* .pb-d-0 {
        padding-bottom: 0px !important;
    } */

}

/* Mobile Layout: 320px. */

@media (max-width: 767px) {
    
}


/* Wide Mobile Layout: 480px. */

@media (min-width: 320px) and (max-width: 575px) {}

