@media (min-width: 1200px) and (max-width: 1600px) {}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 320px) and (max-width: 991px) {
    .header-area .navbar-toggler[aria-expanded="true"] .fa-bars {
        display: none;
    }

    .header-area .navbar-toggler[aria-expanded="false"] .fa-bars {
        display: block;
    }

    .header-area .navbar-toggler[aria-expanded="true"] .fa-times {
        display: block;
    }

    .header-area .navbar-toggler[aria-expanded="false"] .fa-times {
        display: none;
    }

    .header-area .navbar-toggler:focus {
        outline-style: dotted;
        outline-width: thin;
    }


    .header-area .navbar-toggler {
        width: 2rem;
        height: 2rem;
        background: transparent;
        color: #000;
        border-radius: 100%;
        border: 1px solid #000;
        margin: 10px 15px;
        padding: 0px;

    }
   .header-area .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0rem;
    }
    .con-content-w>.flex_basis {
        flex-basis: auto;
    }

}

/* Mobile Layout: 320px. */

@media (max-width: 767px) {
    
}


/* Wide Mobile Layout: 480px. */

@media (min-width: 320px) and (max-width: 575px) {}

