/*
==========================================
   01. header CSS
==========================================
*/

.header-area {
    position: relative;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 3px 5px rgb(99 102 241 / 4%);
    box-shadow: 0px 3px 5px rgb(99 102 241 / 4%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.header-area .navbar {
    padding: 15px 0px;
}

.header-area .navbar-brand>img {
    height: 65px;
}

.header-area .navbar .navbar-nav .nav-item {
    padding-right: 25px;
}

.header-area .navbar .navbar-nav .nav-item:last-child {
    padding-right: 0px;
}

.header-area .navbar-nav .nav-link,
.header-area .login>a,
.header-area a {
    font-weight: 400;
    font-size: 18px;
    color: var(--s-primary-color);
    padding: 0px;
}

.header-area .navbar-nav .nav-link:hover {
    color: var(--s-green-color);
}


/* .header-area .navbar-nav .nav-link.active {
    color: var(--s-green-color);
} */

.header-area .login {
    padding: 0px 28px;
}

.header-area .flag-logo {
    display: flex;
    align-items: center;
}

.header-area .flag-logo>i {
    margin-left: 10px;
}

.header-area .navbar-nav ul.dropdown-menu {
    padding: 0px;
}

.header-area .navbar-nav ul.dropdown-menu .nav-link {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.header-area .navbar-nav ul.dropdown-menu .nav-items:last-child .nav-link {
    border: none;
}

.header-area .navbar .nav-item ul.dropdown-menu .dropdown-item.active,
.header-area .navbar .nav-item ul.dropdown-menu .dropdown-item:focus,
.header-area .navbar .nav-item ul.dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}


/* .header-area .navbar-nav ul.dropdown-menu .nav-link.active, */


/* .header-area .navbar-nav ul.dropdown-menu .nav-link.active, */


/* .header-area .navbar-nav .nav-link.active,
.header-area .navbar-nav .nav-link:focus,
.header-area .navbar-nav .nav-link:hover,
.header-area a:hover {
    color: var(--s-green-color);
} */

.active,
.nav-link.active {
    color: var(--s-green-color) !important;
}

.header-area .navbar-nav .dropdown-menu .nav-link {
    color: var(--paragraph-color);
}


/*
==========================================
   13. footer CSS
==========================================
*/

.footer {
    position: relative;
    background-color: var(--footer-bg);
    padding-top: 80px;
    margin-top: 80px;
}

.footer .fo-con {
    padding: 15px 0px 20px;
}

.footer .f-s-icon>a {
    display: inline-block;
    text-align: center;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 50%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
}

.footer .f-s-icon>a:nth-last-child(1) {
    margin-right: 0px;
    background: #2F80EC;
}

.footer .f-s-icon>a:nth-last-child(2) {
    background: #61CFF3;
}

.footer .f-s-icon>a:nth-last-child(3) {
    background: #2D9CDB;
}

.footer .f-s-icon>a:nth-last-child(4) {
    background: #E9455A;
}

.footer .copyright {
    padding: 25px 0px 50px;
}

.footer .f-bottom-img img {
    width: 100%;
}

.footer .f-link-h>.s-sub-heading {
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.footer .f-link-h>.s-sub-heading span.s-sub-c {
    border-left: 2px solid;
    border-width: 3px;
    padding-left: 5px;
}

.footer .f-link-h>ul li {
    padding-bottom: 15px;
}

.footer .f-link-h>ul li>a {
    color: var(--paragraph-color);
    letter-spacing: 0.08em;
    font-weight: 400;
    font-size: 18px;
}

.footer p,
.footer .f-icons-f a,
.footer .copyright p>a {
    font-weight: 400;
    color: var(--paragraph-color);
    letter-spacing: 0.08em;
}

.footer .f-link-h .f-icons-f {
    display: flex;
    padding-bottom: 15px;
}

.footer .f-link-h .f-icons-f>img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
    margin-top: 3px;
}

.footer .f-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .subs-d {
    display: flex;
    gap: 20px;
}

.footer .subs-d>input[type=email] {
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
}

.footer-l {
    position: relative;
    z-index: 11;
}

.footer-l::before {
    content: '';
    position: absolute;
    top: -15%;
    left: -20%;
    background: url(../img/logo/logo-transparent.png);
    width: 100%;
    height: 135%;
    background-repeat: no-repeat;
    z-index: -1;
}


/* Responsive  */

@media (min-width: 1200px) and (max-width: 1600px) {}


/* Medium Layout: 1280px. */

@media (min-width: 992px) and (max-width: 1367px) {
    .header-area .navbar .navbar-nav .nav-item {
        padding-right: 17px;
    }
    .header-area .login {
        padding: 0px 16px;
    }
    /* footer */
    .footer-l {
        text-align: center;
    }
    .footer-l::before {
        left: 0%;
    }
    .footer .f-link-h>ul li>a {
        letter-spacing: 0.02em;
        font-size: 16px;
    }
    .footer .f-s-icon>a {
        margin-right: 15px;
    }
}


/* Tablet Layout: 768px. */

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 320px) and (max-width: 991px) {
    .header-area {
        padding: 0px;
    }
    .header-area .navbar-toggler[aria-expanded="true"] .fa-bars {
        display: none;
    }
    .header-area .navbar-toggler[aria-expanded="false"] .fa-bars {
        display: block;
    }
    .header-area .navbar-toggler[aria-expanded="true"] .fa-times {
        display: block;
    }
    .header-area .navbar-toggler[aria-expanded="false"] .fa-times {
        display: none;
    }
    .header-area .navbar-toggler {
        padding-right: 30px;
    }
    .header-area .navbar-toggler i {
        color: var(--s-primary-color);
    }
    .header-area .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 0 0rem;
    }
    .header-area .navbar .nav-item {
        position: relative;
        padding-right: 0px;
        padding-top: 7px;
        padding-bottom: 7px;
        z-index: 1;
        border-top: 1px solid var(--s-primary-color);
        transition: all 0.3s ease 0s;
    }
    .header-area .navbar .nav-item ul.dropdown-menu .nav-items {
        border-top: 1px solid var(--s-primary-color);
        padding-left: 35px;
    }
    .header-area .login {
        padding: 0px 0px;
    }
    .header-area .navbar .navbar-collapse {
        margin-top: 15px;
        background: #F8F8F8;
    }
    .header-area .navbar>.container,
    .header-area .navbar>.container-fluid,
    .header-area .navbar>.container-lg,
    .header-area .navbar>.container-md,
    .header-area .navbar>.container-sm,
    .header-area .navbar>.container-xl,
    .header-area .navbar>.container-xxl {
        width: 100%;
        max-width: initial;
        padding: 0px;
    }
    .header-area .navbar-nav .nav-link,
    .header-area .login>a,
    .header-area a {
        margin-left: 35px;
        margin-right: 35px;
        display: block;
        padding: 10px 0px;
        transition: all 0.3s ease 0s;
        font-size: 14px;
    }
    .header-area .navbar-nav ul.dropdown-menu .nav-link {
        padding: 10px 0px;
    }
    .header-area .navbar .navbar-nav .nav-item {
        padding-right: 0px;
    }
    .header-area .navbar .navbar-nav .nav-item:last-child {
        padding-bottom: 0px;
        border-bottom: 1px solid var(--s-primary-color);
    }
    .header-area .navbar-nav ul.dropdown-menu .nav-link,
    .header-area .navbar .navbar-nav .nav-item .dropdown-menu {
        border: none;
    }
    .header-area .navbar-nav a#dropdownMenuButton1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header-area a#dropdownMenuButton1[aria-expanded="true"] .fa-chevron-down {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    .header-area a#dropdownMenuButton1[aria-expanded="true"] .nav-item {
        padding-bottom: 0px !important;
    }
    .header-area .navbar-brand>img {
        height: 45px;
    }
    /* footer */
    .footer .f-s-icon>a {
        width: 45px;
        height: 45px;
        line-height: 45px;
        margin-right: 12px;
    }
    .footer .f-link-h {
        margin-top: 25px;
    }
    .footer .f-link .mt-60 {
        margin-top: 20px;
    }
    .footer {
        margin-top: 30px;
    }
    .footer-l::before {
        top: -20%;
        left: 0%;
        background-size: contain;
        height: 135%;
        background-repeat: no-repeat;
        z-index: -1;
        background-position: bottom center;
    }
    .footer .f-link-h>ul li>a {
        letter-spacing: 0.01em;
        font-size: 16px;
    }
}


/* Mobile Layout: 320px. */

@media (max-width: 767px) {
    .header-area .navbar-nav .nav-link,
    .header-area .login>a,
    .header-area a {
        font-size: 12px;
    }
    /* footer */
    .footer .subs-d {
        gap: 15px;
    }
    .footer-l {
        text-align: center;
        margin-bottom: 30px;
    }
    .footer p,
    .footer .f-icons-f a,
    .footer .copyright p>a {
        font-size: 12px;
    }
    .footer .f-link-h>ul li>a {
        font-weight: 300;
        font-size: 16px;
    }
    .footer .f-link-h>ul li {
        padding-bottom: 7px;
    }
    .footer .subscribes-f .s-sub-heading,
    .footer .f-link-h>.s-sub-heading {
        font-size: 18px;
    }
    .footer .subscribes-f .cmn-btn-blue {
        font-weight: 300;
        font-size: 18px;
    }
}


/* Wide Mobile Layout: 480px. */

@media (min-width: 320px) and (max-width: 575px) {}